body{
    background-color: #D6EFD8;
}
.form-control:hover {
  border-color: #5cb85c; 
}

.form-control:focus {
  border-color: #5cb85c; 
  box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.25); 
}
.form-control{
    border-radius: 10px;
}
.btn{
    border-radius: 10px;
}
h1{
    text-align: center;
    padding: 20px;
}
.btn-signup, a{
    text-decoration: none;
    color: black;
}
a{
    color: black;
    padding: 10px;
}